@charset "utf-8";
@media only screen and (max-width: 600px) {
	.capitol{
		margin-top: 50px !important;
	}
	
	.decca{
		margin-top: 50px !important;
	}
	
	.emi{
		margin-top: 50px !important;
	}
	
	.fiction{
		margin-top: 50px !important;
	}
	
	.island{
		margin-top: 50px !important;
	}
	
	.polydor{
		margin-top: 50px !important;
	}
	
	.umc{
		margin-top: 50px !important;
	}
}
	
	
body{
	font-family: 'Anton', sans-serif !important;
	text-transform: uppercase;
}


body::-webkit-scrollbar{
background-color: #000000;	
width: 5px;
}

body::-webkit-scrollbar-thumb{
background-color: #394332;	
border-radius: 8px;
}


.navbar{
	background: #000000;
}

.logo {
	width: 100px;
	height: 60px;
}

.nav-link{
	color: #394332;
	font-weight: 600;
}


/******************************** LABELS ********************************/

.abbey{
	width: 100px;
	height: 100px;
	margin-top: 20px;
}

.capitol{
	width: 150px;
	height: 80px;
	margin-top: 20px;
}

.decca{
	width: 150px;
	height: 80px;
	margin-top: 20px;
}

.emi{
	width: 130px;
	height: 60px;
	margin-top: 20px;
}

.fiction{
	width: 150px;
	height: 50px;
	margin-top: 20px;
}

.island{
	width: 70px;
	height: 90px;
	margin-top: 20px;
}

.polydor{
	width: 150px;
	height: 80px;
	margin-top: 20px;
}

.umc{
	width: 200px;
	height: 35px;
	margin-top: 20px;
}

.imprints{
	display: inline-block;
}


/******************************** EMI LABEL ********************************/

.emilabels{
	width: 100px;
	height: 50px;
}

.amf{
	width: 100px;
	height: 45px;
}

.defjam{
	width: 100px;
	height: 75px;
}

.good{
	width: 100px;
	height: 100px;
}

.positiva {
	width: 100px;
	height: 100px;
}



/******************************** POLYDOR LABEL ********************************/

.polydorlabels{
	width: 100px;
	height: 50px;
	margin-left: 20px;
}

.dreamville{
	width: 120px;
	height: 40px;
	margin-left: 50px;
}

.interscope{
	width: 65px;
	height: 100px;
	margin-left: 50px;
}

.shady{
	width: 100px;
	height: 60px;
	margin-left: 50px;
}


/******************************** SECTIONS ********************************/

#home{
	width: 100%;
	height: 759px;
	background: url('../img/Four Pancras Square.jpg');
	display: inline-block;
	margin-bottom: -7px;
	background-repeat: no-repeat !important;
	background-size: cover;
	background-position: center;
}


/******************************** FOOTER ********************************/

.footer{
	background: #000000;
	text-align: center;
}

.copyright{
	color: #FFFFFF;
}


.footerlinks{
	color: #394332;
	text-decoration: none !important;
	overflow: hidden;
	margin-left: 10px;
}

.footerlinks:hover{
	color: #7f9173;
}