@charset "utf-8";
@media only screen and (max-width: 766px){
	
	
	.nav-item{
	text-align: right !important;
}
	.nav-item:hover{
	margin-right: 10px !important;
}
	
	.homeinfo{
		margin-bottom: 195px !important;
	}
	
	.nittie{
		width: 300px;
		height: 52px;
		margin-top: 100px;
    }

    .offshoot{
		width: 300px;
		height: 110px;
    }

	.info{
		text-align: center;
		margin-top: 100px;
	}
	
	.img-fluid{
		width: 100%;
		height: auto;
	}
	
	.nittielink{
		text-align: center !important;
		display: block !important;
	}
	
	
	.offshootlink{
		text-align: center !important;
		display: block !important;
	}
	
	.copyright{
		text-align: center;
	}
	
}

body{
	margin: 0;
	padding: 0;
	font-family: 'League Gothic',sans-serif !important;
	font-size: 24px !important;
	text-transform: uppercase;
	background: #000000 !important;
	color: #FFFFFF !important;
	height: 100%;
}

/******************* NAVBAR *******************/

.navbar{
	background: #000000;
}

.navbar-brand{
	color: #FFFFFF;
	font-size: 24px !important;
}

.navbar-brand:hover{
	color: inherit;
}

.fa-bars{
	color: #FFFFFF;
	display: inline-block;
	font-size: 22px;
	text-align: center;
}

.nav-item{
	text-align: center;
	overflow: hidden;
}

.nav-item:hover{
	border-radius: 20px;
	background-color: #FDFDFD;
	-webkit-transition: background 1s;
}

.nav-link{
	color: #FFFFFF;
}

.nav-link:hover{
	color: #000000;
}

button:focus{
	outline: none !important;
}


/******************* HOME *******************/

.homeinfo{
	text-align: center;
	margin-top: 240px;
	margin-bottom: 233px;
}


/******************* WORK *******************/

.titles{
	margin-top: 285px;
	margin-bottom: 285px;
}

.marketing{
	color: #FFFFFF;
}

.marketing:hover{
	color: #555555;
	text-decoration: none;
}

.webdesign{
	color: #FFFFFF;
}

.webdesign:hover{
	color: #555555;
	text-decoration: none;
}


/******************* MARKETING *******************/

.searchcampaigns{
	margin-top: 100px;
}

.socialcampaigns{
	margin-top: 100px;
}

.macbook{
	width: 600px;
	height: 400px;
}

.iphone{
	width: 220px;
	height: 450px;
	margin-bottom: 200px;
}

/**************** WEB DESIGN ********************/

.nittie{
	margin-top: 260px;
	width: 300px;
	height: 52px;
}

.offshoot{
	margin-top: 230px;
	margin-bottom: 270px;
	width: 300px;
	height: 110px;
}


/*************** LIL NITTIE **********************/

.nittieinfo{
	margin-top: 90px;
}

.img-fluid{
    margin-top: 30px;
	width: 600px;
	height: 200px;
}

.nittielink{
	color: #FFFFFF;
	text-decoration: none;
	overflow: hidden;
	margin-bottom: 100px;
	display: inline-block;
}

.nittielink:hover{
	color: #000000 !important;
	text-decoration: none;
}

/*************** OFFSHOOT **********************/

.offshootinfo{
	margin-top: 90px;
}

.offshootsite{
	width: 600px;
	height: 200px;
	margin-top: 90px;
}

.offshootlink{
	color: #FFFFFF;
	text-decoration: none;
	overflow: hidden;
	margin-bottom: 100px;
	display: inline-block;
}

.offshootlink:hover{
	color: #000000 !important;
	text-decoration: none;
}

/*************** CONTACT **********************/

.contact{
	padding: 50px 0 50px;
	margin-top: 200px;
	margin-bottom: 183px;
}

.linkedin{
	color: #FFFFFF;
}

.linkedin:hover{
	color: #555555;
	text-decoration: none;
}

/******************* FOOTER *******************/


.footer{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	padding: 15px;
	font-size: 16px;
}
