@charset "utf-8";
@media only screen and (max-width: 766px){
	.nittieinfo{
		text-align: center !important;
	}
	
	.nittiesite{
		text-align: center !important;
	}
	
	.site{
		text-align: center !important;
	}
}

body{
	font-family: 'Kadwa', serif !important;
	text-transform: uppercase;
	background: #001D45 !important;
	color: #FFFFFF !important;
}

.navbar{
	background: #001D45;
	margin: 10px;
}

.fa-bars{
	color: #FFFFFF;
	display: inline-block;
	font-size: 22px;
	text-align: center;
}


.navbar-brand{
	color: #FFFFFF;
}

.navbar-brand:hover{
	color: #FFFFFF;
}

.nav-item{
	text-align: center;
}

.nav-link{
	color: #FFFFFF;
}

.nav-link:hover{
	color: #FF0004;
}

button:focus{
	outline: none !important;
}


/******************* HOME *******************/

.about{
	text-transform: none;
}


/******************* WORK *******************/

.workspace{
	margin-top: 100px;
}

.nittie{
	width: 300px;
	height: 52px;
	margin-top: 50px;
}

.banglez{
	width: 150px;
	height: 150px;
}

.offshoot{
	width: 300px;
	height: 110px;
	margin-top: 20px;
}


.offshootsite{
	width: 500px;
	height: 300px;
}
/*************** Lil Nittie **********************/

.nittiesite{
	width: 500px;
	height: 300px;
}

.site{
	color: #FFFFFF !important;
	text-decoration: none;
	overflow: hidden;
}

.site:hover{
	color: #FF0004 !important;
}

/******************* ABOUT *********************/

.aboutspace{
	margin-top: 50px;
}

.companyinfo1{
	margin-top: -150px;
}

.companyinfo2{
	margin-top: -150px;
}

.companyinfo3{
	margin-top: -150px;
}


/*************** Banglez **********************/

.steelsite{
	width: 500px;
	height: 320px;
}


/******************* CONCEPTS *******************/

.umg{
	width: 140px;
	height: 50px;
	margin-top: 25px;
}

.plg{
	width: 100px;
	height: 100px;
}

.rca{
	width: 170px;
	height: 50px;
	margin-top: 25px;
}

.ovo{
	width: 120px;
	height: 100px;
}



/******************* FOOTER *******************/


.footer{
	width: 100%;
	background-color: #001D45;
	color: #FFFFFF;
	text-align: center;
}