@charset "utf-8";
@media only screen and (max-width: 766px){
	
	.workspace{
	margin-top: 50px;
    }
	
	.nittie{
	width: 300px;
	height: 52px;
	margin-top: 100px;
    }

    .banglez{
	width: 150px;
	height: 150px;
	margin-top: 100px;
    }

    .offshoot{
	width: 300px;
	height: 110px;
	margin-top: 200px;
    }

}

body{
	margin: 0;
	padding: 0;
	font-family: 'Kadwa', serif !important;
	text-transform: uppercase;
	background: #001D45 !important;
	color: #FFFFFF !important;
}



/******************* NAVBAR *******************/

.navbar{
	background: #001D45;
	margin: 10px;
}

.fa-bars{
	color: #FFFFFF;
	display: inline-block;
	font-size: 22px;
	text-align: center;
}


.navbar-brand{
	color: #FFFFFF;
}

.navbar-brand:hover{
	color: #FFFFFF;
}

.nav-item{
	text-align: center;
	overflow: hidden;
}

.nav-link{
	color: #FFFFFF;
	overflow: hidden;
}

.nav-link:hover{
	color: #AD0000;
}

button:focus{
	outline: none !important;
}


/******************* HOME *******************/

.about{
	text-transform: none;
	margin-top: 200px;
}


/******************* WORK *******************/

.workspace{
	margin-top: 200px;
}

.nittie{
	width: 300px;
	height: 52px;
	margin-top: 50px;
}

.banglez{
	width: 150px;
	height: 150px;
}

.offshoot{
	width: 300px;
	height: 110px;
	margin-top: 20px;
}


.offshootsite{
	width: 500px;
	height: 300px;
}


/*************** Lil Nittie **********************/

.nittiesite{
	width: 500px;
	height: 300px;
}

.site{
	color: #FFFFFF !important;
	text-decoration: none !important;
	overflow: hidden;
}

.site:hover{
	color: #AD0000 !important;
}


/*************** Banglez **********************/

.steelsite{
	width: 500px;
	height: 320px;
}


/*************** CONTACT **********************/

.contact{
	margin-top: 200px;
}




/******************* FOOTER *******************/


.footer{
	width: 100%;
	background-color: #001D45;
	color: #FFFFFF;
	text-align: center;
}